<!DOCTYPE html>
<html>

<head>
    <title>PTSA Data Download</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="onepage.css" />
</head>

<body>
    <h1>PTSA Data Download</h1>
    
    <p><a href="index.html">back to PTSA map</a></p>
    
    <p>Data generated and shown by PTSA can be downloaded here as CSV files. There are three types of files. Details on columns will be given below.
    <ul>
        <li>The <em>region list</em> contains information about all regions processed by PTSA.</li>
        <li>For each region there is a <em>stop list</em> containing all stops found by PTSA.</li>
        <li>For each region there are <em>statistics</em> showing number of stops and stop components over time.</li>
    </ul>
    On the top level PTSA considers regions with <code>admin_level</code> 2. If a region is too large for processing, the region is divided into subregions with <a href="https://github.com/jeflem/div4aep">div4aep</a> resulting in higher <code>admin_level</code> values.
    </p>
    
    <h2>CSV columns</h2>
    
    <p>Columns in region list:
    <ul>
        <li><em>osm_id</em>: OSM ID of relation describing the region's border</li>
        <li><em>name</em>: the region's name</li>
        <li><em>code</em>: a short code referring to the region</li>
        <li><em>admin_level</em>: the region's <code>admin_level</code> value</li>
        <li><em>parent_osm_id</em>: OSM ID of parent region (0 region has <code>admin_level</code> 2)</li>
        <li><em>lon</em>: longitude of the center of the region's smallest enclosing circle</li>
        <li><em>lat</em>: latitude of the center of the region's smallest enclosing circle</li>
        <li><em>radius</em>: radius of the region's smallest enclosing circle</li>
        <li><em>is_parent</em>: wether the region has subregions (<code>True</code> or <code>False</code>)</li>
        <li><em>stops</em>: number of stops generated by PTSA</li>
        <li><em>plafos</em>: number of platform objects in OSM</li>
        <li><em>poles</em>: number of poles in OSM</li>
        <li><em>stopos</em>: number of stop position objects in OSM</li>
        <li><em>dubobs</em>: number of other OSM objects somehow related to public transport</li>
        <li><em>process_start</em>: UTC timestamp when processing of the region started</li>
        <li><em>process_end</em>: UTC timestamp when processing of the region has been finished</li>
    </ul>
    </p>
    
    <p>Columns in stop lists:
    <ul>
        <li><em>id</em>: ID of stop (unique within region)</li>
        <li><em>lon</em>: longitude of (virtual) pole</li>
        <li><em>lat</em>: latitude of (virtual) pole</li>
        <li><em>plafo_id</em>: OSM ID of platform object (0 if there's no platform, positive if platform is a way, negative if platform is a relation)</li>
        <li><em>pole_id</em>: OSM ID of pole (0 if there's no pole)</li>
        <li><em>stopo_id</em>: OSM ID of stop position (0 if there's no stop position)</li>
        <li><em>mods</em>: modalities stopping at the stop (modality names separated by &quot;, &quot; or &quot;NO_MODALITY&quot;)</li>
        <li><em>maybe_mods</em>: modalities maybe stopping at the stop (modality names separated by &quot;, &quot; or &quot;NO_MODALITY&quot;)</li>
    </ul>
    </p>
    
    <p>Columns in statistics file:
    <ul>
        <li><em>timestamp</em>: UTC timestamp when line has been written</li>
        <li><em>stops</em>: number of stops generated by PTSA</li>
        <li><em>plafos</em>: number of platform objects in OSM</li>
        <li><em>poles</em>: number of poles in OSM</li>
        <li><em>stopos</em>: number of stop position objects in OSM</li>
        <li><em>dubobs</em>: number of other OSM objects somehow related to public transport</li>
    </ul>
    </p>

    <h2>Download</h2>
    
    <p style="font-weight: bold;">PTSA data provided below is based on <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> and made available under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a>.</p>
    
    <p><a href="data/regions.csv">Region list</a> (CSV file)</p>
    
    <p>Stop lists and statistics for each region may be found in last column of below table. Data shown in the table is provided in the region list CSV file.</p>

    <table id="region-table">
        <tr>
            <th>Country (code)</th>
            <th>last processed</th>
            <th>stops</th>
            <th>platforms</th>
            <th>poles</th>
            <th>stop positions</th>
            <th>dubious objects</th>
            <th>CSV downloads</th>
        </tr>
        <!--AUTOGENERATED_REGION_TABLE-->
    </table>

    <p><a href="index.html">back to PTSA map</a></p>
    
    <p><a href="https://www.fh-zwickau.de/service/impressum/">Imprint</a> | <a href="https://www.fh-zwickau.de/service/datenschutz/">Data Privacy</a> | <a href="https://www.fh-zwickau.de/service/barrierefreiheitserklaerung/">Accessibility</a></p>
</body>

</html>
