body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans;
}

header {
    z-index: 3;
    background-color: white;
    display: flex;
    position: relative;
    height: 80px;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 30px;
}

#imprint {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}

#logo {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

#content {
    overflow: hidden;
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    float: none;
}

#sidebar {
    float: left;
    width: 300px;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    background-color: rgba(255,255,255,0.8);
    padding: 0;
    box-sizing: border-box;
}

div.sidebar_content {
    box-sizing: border-box;
    padding: 5px;
}

div.sidebar_content h1 {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-size: large;
}

#map {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #808080;
    z-index: 0;
    box-sizing: border-box;
}

#sb_button {
    padding: 0, 5px;
}

.indented {
    padding-left: 30px;
}

div.popup h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: large;
}

div.popup p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

div.popup ul {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 20px;
}

.parahead {
    font-weight: bold;
}